@import "varset";

// **********************
// **********************
// PADRÃO HTML BODY TAGS // NECESSÁRIO ALTURA 100%
// **********************
// **********************

@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700|Heebo:400,500,700');

// @font-face {
//     font-family: "Barlow";
//     font-style: normal;
//     font-weight: 400;
//     src: url(../font/barlow/Barlow-Regular.ttf);
// }

// @font-face {
//     font-family: "Barlow";
//     font-style: normal;
//     font-weight: 500;
//     src: url(../font/barlow/Barlow-Medium.ttf);
// }

// @font-face {
//     font-family: "Barlow";
//     font-style: normal;
//     font-weight: 600;
//     src: url(../font/barlow/Barlow-SemiBold.ttf);
// }

// @font-face {
//     font-family: "Barlow";
//     font-style: normal;
//     font-weight: 700;
//     src: url(../font/barlow/Barlow-Bold.ttf);
// }

// @font-face {
//     font-family: "Heebo";
//     font-style: normal;
//     font-weight: 400;
//     src: url(../font/heebo/Heebo-Regular.ttf);
// }

// @font-face {
//     font-family: "Heebo";
//     font-style: normal;
//     font-weight: 500;
//     src: url(../font/heebo/Heebo-Medium.ttf);
// }

// @font-face {
//     font-family: "Heebo";
//     font-style: normal;
//     font-weight: 700;
//     src: url(../font/heebo/Heebo-Bold.ttf);
// }

b,strong {
    font-weight: 700;
}

p {
    font-family: $fonte-secundaria;
}

%view {
    height: 100%;
    min-height: 100%;
}

html,
body {
    @extend %view;
    font-size: 100%;
    font-size: 1rem;
}

.view {
    @extend %view;
}

a {
    opacity: 1;
    transition: $transicao1x;

    &:hover {
        opacity: 0.8;
    }
}

.cor-fonte-primaria {
    color: $cor-pri-top;
}

.cor-fundo-primaria {
    background-color: $cor-pri-top;
}

.rgba-cor-fundo-primaria {
    background-color: rgba($cor-pri-top, 0.75);
}

.hidden {
    opacity: 0;
}

.blurred {
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

.opacityhalf {
    opacity: 0.25;
}

.opacitysemihalf {
    opacity: 0.75;
}


// **********************
// NAVBAR
// **********************

.navbar {
    background-color: rgba(0, 0, 0, 0);
    color: $cor-branca;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    box-shadow: none;
    padding: 0 !important;
    display: block;
    z-index: 99999999999999;

    .navbar-top {
        background-color: $cor-fundo-terciaria;
        height: 30px;

        .contato-esquerda {
            font-size: $txt-tam-14px;
            text-align: left;
            padding: 0.25rem 0 0 0;

            a.topo-telefone {
                color: $cor-branca;

                &:hover {
                    color: $cor-branca;
                }
            }
        }

        .social-direita {
            font-size: $txt-tam-17px;
            text-align: right;
            padding: 0.15rem 0 0 0;

            a.rede-social {
                color: $cor-branca;
                margin: 0 0.4rem 0;

                &:hover {
                    opacity: 1;
                    color: $cor-pri-top;
                }
            }
        }
    }

    .topo-logo {
        margin: 0;
        padding: 0;

        .navbar-brand img {
            height: 100px;
            transition: $transicao3x;
            margin: 0.25rem 0;
        }

        .site-title {
            visibility: hidden;
            opacity: 0;
            position: absolute;
        }
    }
}

.menu-menu-principal-container {
    margin: 0 0 0 auto;
    width: 390px;
}

#menu-menu-principal {
    font-weight: $txt-peso-500;
    font-size: $txt-tam-16px;
    margin: 0 0 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style: none;
    padding: 0;
    width: 110%;

    .menu-item {
        margin: 0 0.5rem;
        display: inline;
        position: relative;
        a,
        a>span {
            position: relative;
            color: inherit;
            text-decoration: none;
            line-height: 24px;
            &:before,
            &:after {
                content: '';
                position: absolute;
                transition: $transicao1x;
            }
        }
        a {
            padding: 0.7rem 0.5rem;
            &:before {
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background: $cor-pri-top;
                transform: scaleX(0);
            }
            &:hover:before {
                transform: scaleX(1);
            }
            &:hover {
                color: $cor-pri-top !important;
            }
        }
        &.active>.nav-link {
            background: none !important;
            &:before {
                transform: scaleX(1);
            }
        }
        .sub-menu {
            display: none;
            position: absolute;
            z-index: 1;
            margin: 0;
            padding: 0;
            left: 50%;
            width: 160px;
            margin-left: -80px;
            text-align: center;
            padding: 0 10px;
            transition: $transicao1x;
            opacity: 0;
            font-size: $txt-tam-14px;
            a {
                padding: 0.5rem 0.5rem;
                display: block;
                margin: -10px 0;
            }
        }
        &:hover .sub-menu {
            display: block;
            opacity: 1;
        }
    }
}


.top-nav-collapse {
    background-color: rgba($cor-fundo-secundaria, 0.95);

    .topo-logo {
        margin: 0;
        padding: 0;

        .navbar-brand img {
            height: 70px;
        }
    }
    .menu-item {
        .sub-menu {
            transition: $transicao1x;
        }
        &:hover .sub-menu {
            background-color: rgba($cor-fundo-secundaria, 0.95);
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }
    }
}

.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon1 span {
    background: $cor-pri-top;
}

.animated-icon3 span {
    background: $cor-branca;
}

.animated-icon4 span {
    background: $cor-branca;
}

.animated-icon1 span:nth-child(1) {
    top: 0px;
}

.animated-icon1 span:nth-child(2) {
    top: 10px;
}

.animated-icon1 span:nth-child(3) {
    top: 20px;
}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}


#menu-item-97 {
    a:before {
        font-family: "Font Awesome 5 Free" !important;
        font-weight: 900;
        content: '\f023' !important;
    }
}


@media (max-width: 770px) {
    .navbar {
        background-color: rgba($cor-fundo-secundaria, 1);
        .menu-mobile {
            width: 100%;
            text-align: center;
            margin: 30px auto;
            #menu-menu-principal {
                width: 100%;
                text-align: center;
                display: block;
                margin: 0 auto;
                li {
                    width: 80%;
                    display: block;
                    text-align: center;
                    margin: 0 auto;
                    a {
                        display: block;
                        width: 80%;
                        text-align: center;
                        margin: 0 auto;
                    }
                }
            }
        }
        .navbar-top {
            .contato-esquerda {
                .hide-on-mobile {
                    display: none;
                }
                a.topo-telefone {
                    font-size: $txt-tam-18px;
                }
            }
        }
        .topo-logo {
            .navbar-brand {
                img {
                    margin: 0 0 0 12px;
                    height: 80px;
                }
            }
        }
    }

    .top-nav-collapse {
        background-color: rgba($cor-fundo-secundaria, 0.95);
        .topo-logo {
            margin: 0;
            padding: 0;
            .navbar-brand {
                img {
                    height: 50px;
                }
            }
        }
    }

    #menu-menu-principal {

        .menu-item {
            margin: 0 0.5rem;
            .sub-menu {
                display: none;
                position: relative;
                z-index: 1;
                margin: 0 0 10px 0;
                padding: 0;
                left: 50%;
                width: 320px;
                margin-left: -160px;
                text-align: center;
                padding: 0 10px;
                transition: $transicao1x;
                opacity: 0;
                font-size: $txt-tam-14px;
                a {
                    padding: 0.5rem 0.5rem;
                    display: block;
                    margin: -10px 0;
                }
            }
            &:hover .sub-menu {
                display: block;
                opacity: 1;
            }
        }
    }
    
}

@media (max-width: 475px) {
    .navbar {
        .navbar-top {
            .contato-esquerda {
                text-align: left;
            }

            .social-direita {
                text-align: right;
            }
        }
    }
}


// **********************
// RODAPÉ
// **********************

.rodape-container {
    background: url('../img/index/07-bg-rodape.jpg') center bottom #1C2331;
    color: $cor-branca;
    font-family: $fonte-secundaria;
    display: block;
    position: relative;
    a {
        color: $cor-branca;
    }

    .rodape-enderecos {
        padding: 50px 0;

        .title-social {
            display: none;
        }

        .enderecos-container {
            .end-icone {
                font-size: $txt-tam-20px;

                &.sp {
                    color: $cor-sec-top;
                }

                &.rp {
                    color: $cor-pri-top;
                }
            }

            .end-txt {
                font-size: $txt-tam-14px;
            }

            .end-tel {
                font-size: $txt-tam-18px;

                strong {
                    font-weight: $txt-peso-600;
                }
            }
            .rodape-endereco-mapa {
                display: block;
                .ver-mapa {
                    font-family: $fonte-primaria;
                    font-size: $txt-tam-16px;
                    font-weight: $txt-peso-500;
                    transition: $transicao1x;
                    opacity: 0;
                }
                &:hover {
                    transform: scale(1.025);
                    .ver-mapa {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .rodape-assinatura {
        padding: 10px 0;
        background: $cor-fundo-terciaria;

        .rodape-copyright {
            padding: 10px 0 0 0;

            .assinatura {
                font-size: $txt-tam-12px;
                font-family: $fonte-primaria;

                strong {
                    font-weight: $txt-peso-600;
                }

                span {
                    color: $cor-pri-top;
                }
            }

            .logo-rodape {
                text-align: right;

                .logo-gs {
                    width: 70px;
                    margin: -40px 0 0 0;
                    transition: $transicao1x;

                    &:hover {
                        transform: scale(1.025) rotate(-4deg);
                    }
                }
            }
        }
    }

    .rede-social-icon {
        transition: $transicao1x;
        font-size: $txt-tam-20px;
        i {
            transition: $transicao1x;
        }
        &:hover {
            color: $cor-pri-top;
            i {
                transform: scale(1.05);
            }
        }
    }
}

@media (max-width: 770px) {
    .rodape-container {
        background: #1C2331;
        color: $cor-branca;
        font-family: $fonte-secundaria;
        a {
            color: $cor-branca;
        }
        .rodape-enderecos {
            padding: 50px 0;
            text-align: center;
            .title-social {
                display: block;
            }
            .enderecos-container {
                margin: 40px 0 0 0;
                .end-txt {
                    font-size: $txt-tam-12px;
                }
                .end-tel {
                    font-size: $txt-tam-14px;
                }
            }
        }
    
        .rodape-assinatura {
            padding: 10px 0;
            background: $cor-fundo-terciaria;
    
            .rodape-copyright {
                padding: 10px 0 0 0;
    
                .assinatura {
                    text-align: center;
                    font-size: $txt-tam-12px;
                    font-family: $fonte-primaria;
    
                    strong {
                        font-weight: $txt-peso-600;
                    }
    
                    span {
                        color: $cor-pri-top;
                    }
                }
    
                .logo-rodape {
                    display: none;
                }
            }
        }
    
        .rede-social-icon {
            transition: $transicao1x;
            font-size: $txt-tam-24px;
    
            &:hover {
                color: $cor-pri-top;
            }
        }
    }
}

@media (max-width: 475px) {

}


// **********************
// BOTOES
// **********************

@mixin botao-padrao-linha($nome, $cor, $corhover) {
    .botao-#{$nome}-linha {
        border: 2px solid $cor;
        color: $cor !important;

        &:hover {
            border-color: $corhover;
            color: $corhover !important;
        }
    }
}

@include botao-padrao-linha(principal, $cor-sec-top, $cor-sec-mid);

@include botao-padrao-linha(secundario, $cor-pri-top, $cor-pri-mid);

@include botao-padrao-linha(terceario, $cor-ter-low, $cor-ter-mid);

.btn {
    border-radius: 6px;
    transition: $transicao1x;
    font-weight: $txt-peso-600;
    text-transform: capitalize;

    &.btn-linha {
        border-radius: 6px;
        transition: $transicao1x;
        font-weight: $txt-peso-600;
        text-transform: capitalize;
    }

    &:hover {
        transform: scale(1.025);
    }

    &.home-button {
        width: 360px;
    }
}


@media (max-width: 770px) {
}

@media (max-width: 475px) {
}



// **********************
// MODALS
// **********************

.modal-endereco {
    z-index: 99999999999999999999999999999999999999 !important;
    position: fixed;
    background: rgba($cor-fundo-secundaria, 0.7);
    .modal-dialog {
        max-width: 1050px !important;
        margin: 70px auto 0 !important;
        background: rgba($cor-fundo-secundaria, 0.5);
        .modal-content {
            background: rgba($cor-fundo-secundaria, 0.5);

            .modal-footer {
                border: none;
            }
        }
    }
}

.modal-imprensa-window {
    z-index: 99999999999999999999999999999999999999 !important;
    position: fixed;
    background: rgba($cor-fundo-secundaria, 0.7);
    .modal-dialog {
        width: 90% !important;
        max-width: 1400px !important;
        margin: 70px auto 0 !important;
        background: rgba($cor-fundo-secundaria, 0.5);
        .modal-content {
            border: none;
            background: none !important;
            .modal-header {
                border: none;
                background: none !important;
            }
            .modal-footer {
                border: none;
                background: none !important;
            }
        }
    }
}

