@import "varset";

// **********************
// **********************
// BASE INTERNAS
// **********************
// **********************

.pagina-interna {
    position: relative;
    display: block;
    // min-height: 100%;
}

.pagina-default {
    position: relative;
    display: block;
}


// **********************
// **********************
// TITULOS TOPO INTERNAS
// **********************
// **********************

.titulo-container { 
    height: 70%;
    position: relative;
    overflow: hidden;
    width: 100%;
    .titulo {
        height: 100%;
        background: $cor-fundo-primaria;
        display: block;
        position: relative;
        .view {
            .imagem-titulo {
                width: 120%;
                margin: 0 0 0 -10%;
                position: fixed;
            }
            .chamada-container {
                display: block;
                font-family: $fonte-primaria;
                color: $cor-branca;
                text-align: center;
                position: relative;
                z-index: 99999;
                text-shadow: 1px 3px 3px rgba($cor-preta, 0.2);
                .chamada-topo {
                    font-size: $txt-tam-34px;
                    font-weight: $txt-peso-600;
                    padding: 0;
                    text-transform: uppercase;
                }
                .chamada-meio {
                    font-size: $txt-tam-56px;
                    font-weight: $txt-peso-600;
                    padding: 0;
                    text-transform: uppercase;
                }
                .chamada-baixo {
                    font-size: $txt-tam-17px;
                    font-weight: $txt-peso-500;
                    padding: 0;
                }
                .post-categories {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    li {
                        list-style: none;
                        padding: 0;
                        display: inline-block;
                        a {
                            padding: 0 10px;
                            color: $cor-branca !important;
                        }
                    }
                }
                .bottom-liner {
                    height: 2px;
                    background: $cor-pri-top;
                    width: 130px;
                    display: block;
                    margin: 50px auto 0;
                }
            }
        }
    }
}

.timeline-container, .triade-container, .diretoria-container, .contato-container, .parceiro-container, .blog-container, .time-container, .carreira-container {
    .interna-titulo {
        display: block;
        font-family: $fonte-primaria;
        color: $cor-branca;
        text-align: left;
        position: relative;
        padding: 0 0 0 0;
        z-index: 99999;
        text-shadow: 1px 3px 3px rgba($cor-preta, 0.2);
        .chamada-top {
            font-size: $txt-tam-18px;
            font-weight: $txt-peso-600;
            line-height: 2px;
        }
        .chamada-meio {
            font-size: $txt-tam-48px;
            font-weight: $txt-peso-600;
            line-height: 46px;
        }
        .chamada-baixo {
            font-family: $fonte-secundaria;
            font-size: $txt-tam-17px;
            font-weight: $txt-peso-500;
            line-height: 22px;
        }
        .bottom-liner {
            height: 2px;
            width: 130px;
            display: block;
            margin: 30px auto 0 0;
        }
        &.timeline {
            .chamada-meio {
                font-size: $txt-tam-34px;
                line-height: 36px;
            }
            .bottom-liner {
                background: $cor-pri-low;
            }
        }
        &.triade {
            .chamada-meio {
                font-size: $txt-tam-40px;
            }
            .bottom-liner {
                display: none;
            }
        }
        &.diretoria {
            text-align: center;
            color: $cor-escura;
            .chamada-meio {
                font-size: $txt-tam-40px;
                padding: 0;
                line-height: 40px;
            }
            .bottom-liner {
                background: lighten($cor-escura, 40%);
                margin: 30px auto;
            }
        }
        &.blog {
            color: $cor-escura;
        }
        &.blogdetalhes {
            color: $cor-escura;
            text-align: center;
            .chamada-meio {
                text-align: center;
            }
            .chamada-baixo {
                text-align: center;
                p {
                    text-align: center;
                }
            }
            & > p {
                text-align: center;
                font-family: $fonte-secundaria;
            }
        }
        &.timegs {
            text-align: center;
        }
    }
    .interna-descricao {
        display: block;
        font-family: $fonte-secundaria;
        color: $cor-branca;
        text-align: center;
        position: relative;
        padding: 0 0 0 0;
        z-index: 99999;
        text-shadow: 1px 3px 3px rgba($cor-preta, 0.2);
        font-size: $txt-tam-14px;
        .top-liner {
            height: 2px;
            width: 130px;
            display: block;
            margin: 0 auto 20px;
            background: $cor-branca;
        }
        .bottom-liner {
            height: 2px;
            width: 130px;
            display: block;
            margin: 20px auto 0;
            background: $cor-branca;
        }
    }
}

@media (max-width: 770px) {
    .titulo-container { 
        height: 50%;
        .titulo {
            .view {
                .imagem-titulo {
                    width: 200%;
                    margin: 0 0 0 -50%;
                }
                .chamada-container {
                    .chamada-meio {
                        line-height: 42px;
                    }
                }
            }
        }
    }
    .timeline-container, .triade-container, .diretoria-container, .contato-container, .parceiro-container, .blog-container, .time-container, .carreira-container {
        .interna-titulo {
            .chamada-meio {
                font-size: $txt-tam-34px;
                font-weight: $txt-peso-600;
                line-height: 46px;
            }
            .chamada-baixo {
                font-family: $fonte-secundaria;
                font-size: $txt-tam-16px;
                font-weight: $txt-peso-500;
                line-height: 22px;
            }
        }
        .interna-descricao {
            text-align: left;
            .top-liner {
                height: 2px;
                width: 130px;
                display: block;
                margin: 0 auto 20px;
                background: none;
            }
            .bottom-liner {
                display: none;
            }
        }
    }
}

@media (max-width: 475px) {
}


// **********************
// **********************
// DIVISORES
// **********************
// **********************

.divisores {
    display: block;
    position: relative;
    .timeline-divisor {
        height: 120px;
    }
    .timeline-mid-divisor {
        height: 180px;
    }
    .timeline-bot-divisor {
        height: 140px;
    }
    .triade-top-divisor {
        height: 200px;
    }
    .triade-bot-divisor {
        height: 140px;
    }
    .diretoria-top-divisor {
        height: 100px;
    }
    .diretoria-bot-divisor {
        height: 100px;
    }
    .blog-top-divisor {
        height: 100px;
    }
    .blog-bot-divisor {
        height: 100px;
    }
    .time-top-divisor {
        height: 100px;
    }
    .time-bot-divisor {
        height: 100px;
    }
}


// **********************
// **********************
// A GS
// **********************
// **********************

.timeline-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    .container {
        position: relative;
    }
    .historia-hexa-container {
        width: 100%;
        position: relative;
    }
    .bg-seta-timeline {
        width: 667px;
        height: 247px;
        top: 170px;
        left: 460px;
        display: block;
        position: absolute;
        background: url('../img/internas/01-bg-seta-timeline.png') center top no-repeat;
        
        text-align: center;
        font-size: $txt-tam-18px;
        font-weight: $txt-peso-600;
        color: $cor-branca;
    }
    .bg-hexas-timeline {
        width: 900px;
        height: 177px;
        top: 320px;
        left: 120px;
        display: block;
        position: absolute;
        background: url('../img/internas/01-bg-hexas-timeline.png') center top no-repeat;
    }
}

.time-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
}

.fundo-parallax > .fundo-timeline {
    background: url('../img/internas/01-ags-timeline-bg.jpg');
    height: 200%;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
}

.fundo-parallax > .fundo-timegs {
    background: url('../img/internas/01-ags-time-bg.jpg') center center;
    height: 200%;
    position: absolute;
    top: -120px;
    left: -10%;
    width: 120%;
}

@mixin historia-hexas-colors($nome, $cor) {
    .historia-#{$nome} {
        .historia-hexas {
            background: lighten($cor, 47%);
            .hexa-conteudo {
                .hexa-tit {
                    color: darken($cor, 10%);
                }
                .hexa-desc {
                    color: darken($cor, 5%);
                }
            }
        }
        .historia-hexas-shadow {
            background: darken($cor, 10%);
        }
    }
}

@include historia-hexas-colors(2007, $cor-timeline-a);
@include historia-hexas-colors(2011, $cor-timeline-b);
@include historia-hexas-colors(2012, $cor-timeline-c);
@include historia-hexas-colors(2013, $cor-timeline-d);
@include historia-hexas-colors(2014, $cor-timeline-e);
@include historia-hexas-colors(2016, $cor-timeline-f);
@include historia-hexas-colors(2017, $cor-timeline-g);

.historia-hexas {
    position: relative;
    display: block;
    width: $hishw*1px;
    height: $hiswh;
    z-index: 999;
    transition: $transicao1x;
    &:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        transition: $transicao1x;
        opacity: 0.9 !important;
        .hexa-texto {
            width: 120px;
        }
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: inherit;
        height: inherit;
        -webkit-transform: rotate(60deg);
                transform: rotate(60deg);
        background-color: inherit;
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        width: inherit;
        height: inherit;
        -webkit-transform: rotate(-60deg);
                transform: rotate(-60deg);
        background-color: inherit;
    }
    .hexa-conteudo {
        position: absolute;
        z-index: 1000;
        width: 90%;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 40%;
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
        text-align: center;
        .hexa-tit {
            font-size: $txt-tam-24px;
            font-family: $fonte-primaria;
            font-weight: $txt-peso-700;
        }
        .hexa-desc {
            font-size: $txt-tam-14px;
            font-family: $fonte-secundaria;
            line-height: 18px;
            display: block;
        }
    }
    &.baixo {
        top: 30px;
    }
}

.historia-hexas-shadow {
    position: absolute;
    display: block;
    width: $hishw*1px;
    height: $hiswh;
    z-index: 990;
    transition: $transicao1x;
    top: 10px;
    &:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        transition: $transicao1x;
        opacity: 0.9 !important;
        .hexa-texto {
            width: 120px;
        }
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: inherit;
        height: inherit;
        -webkit-transform: rotate(60deg);
                transform: rotate(60deg);
        background-color: inherit;
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        width: inherit;
        height: inherit;
        -webkit-transform: rotate(-60deg);
                transform: rotate(-60deg);
        background-color: inherit;
    }
    &.baixo {
        top: 40px;
    }
}

.timeline-hexas {
    .col {
        width: 150px !important;
        display: block;
        position: relative;
        flex-basis: initial;
        .timeline-imagem {
            position: absolute;
            top: -100px;
            text-align: center;
            left: 50%;
            margin: 0 0 0 -18px;
            &.baixo {
                top: -70px;
            }
        }
        .timeline-info {
            margin: 60px auto 0;
            text-align: center;
            width: 150px;
            color: $cor-branca;
            &.baixo {
                margin: 100px auto 0;
            }
        }
    }
    
}

@media (max-width: 770px) {

    .timeline-container {
        .container {
            position: relative;
        }
        .historia-hexa-container {
            width: 100%;
            position: relative;
        }
        .bg-seta-timeline {
            background: none;
        }
        .bg-hexas-timeline {
            background: none;
        }
    }
    
    .fundo-parallax > .fundo-timeline {
        background: $cor-pri-bot;
        background-image: none;

    }
}
@media (max-width: 475px) {
}

// **********************
// **********************
// TRIADE
// **********************
// **********************

.triade-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    background: linear-gradient(to top, $cor-timeline-g, $cor-sec-lit) $cor-sec-lit;
    .zoombox-particles {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 999;
    }
    .triade-imagem {
        position: relative;
        z-index: 999999;
        margin: -70px 0 0 0;
    }
}

@media (max-width: 770px) {
    .triade-container {
        .triade-imagem {
            margin: 0;
            img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 475px) {
}


// **********************
// **********************
// DIRETORIA
// **********************
// **********************

.diretoria-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    background: url('../img/internas/03-diretoria-gs.jpg');
    .diretoria-item {
        margin: -10px 0 0 0;
        text-align: center;
        font-family: $fonte-secundaria;
        .diretoria-nome {
            font-size: $txt-tam-18px;
            font-weight: $txt-peso-600;
        }
        .diretoria-cargo {
            font-size: $txt-tam-14px;
        }
        .diretoria-linkedin {
            font-size: $txt-tam-20px;
            a {
                color: $cor-escura;
                &:hover {
                    color: $cor-pri-top;
                }
            }
        }
        p {
            margin: 0;
            padding: 0;
        }
    }
}

@media (max-width: 770px) {
    .diretoria-container {
        background-image: none;
        background: $cor-cinza;
        .diretoria-item {
            margin: 30px 0 0 0;
        }
    }
}
@media (max-width: 475px) {
}

// **********************
// **********************
// SOMOS TODOS GS
// **********************
// **********************

.somostodosgs {
    text-align: center;
    color: $cor-branca;
    font-size: $txt-tam-48px;
    display: block;
    position: relative;
    display: flex;
	justify-content: center;
	align-items: center;
    .frases {
        font-weight: $txt-peso-600;
        .hashtag {
            color: $cor-ter-low;
        }
    }
}

.verticalFlip{
	text-indent: 8px;
}

.verticalFlip span {
	animation: vertical 12.5s linear infinite 0s;
	-ms-animation: vertical 12.5s linear infinite 0s;
	-webkit-animation: vertical 12.5s linear infinite 0s;

	opacity: 0;
    overflow: hidden;
    
    width: 100%;
    display: block;
    top: 0;    
    position: absolute;
    margin: 0 0 0 -50%;
}

.verticalFlip span:nth-child(2) {
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;

}

.verticalFlip span:nth-child(3) {
	animation-delay: 5s;
	-ms-animation-delay: 5s;
    -webkit-animation-delay: 5s;

}

.verticalFlip span:nth-child(4) {
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
    -webkit-animation-delay: 7.5s;

}

.verticalFlip span:nth-child(5) {
	animation-delay: 10s;
	-ms-animation-delay: 10s;
    -webkit-animation-delay: 10s;

}


@-moz-keyframes vertical {
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: rotateX(180deg); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0;}
}

@-webkit-keyframes vertical {
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: rotateX(180deg); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

@-ms-keyframes vertical {
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: rotateX(180deg); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}


// **********************
// **********************
// CONTATO
// **********************
// **********************

.contato-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    overflow: hidden;
}

.fundo-parallax > .fundo-contato {
    background: url('../img/internas/06-contato-bg.jpg');
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

@media (max-width: 770px) {
    .fundo-parallax > .fundo-contato {
        background-image: none;
        background: $cor-ter-top;
    }
}

@media (max-width: 475px) {
}

// **********************
// **********************
// PARCEIRO
// **********************
// **********************

.parceiro-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    overflow: hidden;
}

.fundo-parallax > .fundo-parceiro {
    background: url('../img/internas/06-trabalhe-bg.jpg');
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

@media (max-width: 770px) {
    .fundo-parallax > .fundo-parceiro {
        background-image: none;
        background: $cor-sec-top;
    }
}

@media (max-width: 475px) {
}


// **********************
// **********************
// CARREIRA
// **********************
// **********************

.carreira-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    overflow: hidden;
}

.fundo-parallax > .fundo-carreira {
    background: url('../img/internas/06-carreira-bg.jpg');
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

@media (max-width: 770px) {
    .fundo-parallax > .fundo-parceiro {
        background-image: none;
        background: $cor-sec-top;
    }
}

@media (max-width: 475px) {
}


// **********************
// **********************
// BLOG
// **********************
// **********************

.blog-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    background: $cor-branca;
}

.sala-imprensa {
    width: 100%;
    // max-width: 100%;
    // margin: 1% auto;
    // column-count: 4;
    // column-gap: 2%;
    // column-width: 30%;
    // -webkit-column-count: 3;
    // -webkit-column-gap: 2%;
    // -webkit-column-width: 30%;
    // position: relative;
    .imprensa-item {
        margin-bottom: 20px;
        display: inline-block;
        width: 100%;
        position: relative;
        cursor: pointer;
        img {
            width: 100%;
            height: auto;

            // width: auto;
            // height: 240px;
            // display: block;
        }
        .mascara-item {
            cursor: pointer;
        }
        h4 {
            font-family: $fonte-primaria;
            font-size: $txt-tam-18px;
            font-weight: $txt-peso-600;
            text-align: center;
        }

    }
    .link-post {
        display: block;
        position: relative;
        z-index: 99999;
        color: $cor-preta;
        cursor: pointer;
    }
}

@media (max-width: 770px) {
    .sala-imprensa {
        width: 100%;
        max-width: 100%;
        margin: 1% auto;
        column-count: 2;
        column-gap: 2%;
        column-width: 30%;
        -webkit-column-count: 2;
        -webkit-column-gap: 2%;
        -webkit-column-width: 30%;
        position: relative;
        .imprensa-item {
            margin-bottom: 20px;
            display: inline-block;
            width: 100%;
            position: relative;
            cursor: pointer;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

@media (max-width: 475px) {
}


// **********************
// **********************
// BLOG 2
// **********************
// **********************


.orange-paper {
    width: 100%;
    margin: 1% auto;
    .orange-paper-item {
        margin-bottom: 20px;
        display: inline-block;
        width: 100%;
        position: relative;
        cursor: pointer;
        img {
            width: 100%;
            height: auto;
        }
        .mascara-item {
            cursor: pointer;
        }
    }
    .link-post {
        display: block;
        position: relative;
        z-index: 99999;
        color: $cor-preta;
        cursor: pointer;
    }
    h4 {
        font-family: $fonte-primaria;
        font-size: $txt-tam-18px;
        font-weight: $txt-peso-600;
        text-align: center;
    }

}

.blog-gs {
    width: 100%;
    margin: 1% auto;
    font-family: $fonte-secundaria;
    .card {
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.06), 0 0px 0px 0 rgba(0, 0, 0, 0.06);
        -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.06), 0 0px 0px 0 rgba(0, 0, 0, 0.06);
        transition: $transicao1x;
        &:hover {
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            .card-body {
                a {
                    h5 {
                        color: $cor-pri-top;
                    }
                }
            }
        }
        .card-body {
            h4 {
                font-family: $fonte-primaria;
                font-size: $txt-tam-20px;
                font-weight: $txt-peso-600;
                text-align: center;
            }

            h5 {
                font-size: $txt-tam-12px;
                font-weight: $txt-peso-400;
                text-align: center;
                transition: $transicao1x;
            }
            ul {
                list-style: none;
                font-size: $txt-tam-12px;
                font-weight: $txt-peso-400;
                text-align: center;
                padding: 0;
                li {
                    padding: 0;
                    a {
                        color: rgba($cor-escura, 0.5);
                    }
                }
            }
        }
    }
    .blog-item {
        display: inline-block;
        width: 100%;
        position: relative;
        cursor: pointer;
        a {
            img {
                width: auto;
                height: 240px;
            }
        }
        .mascara-item {
            cursor: pointer;
            z-index: 999999999;
            .modal-imprensa {
                i {
                    font-size: $txt-tam-34px;
                    color: $cor-branca;
                }
            }
        }
    }
    .link-post {
        display: block;
        position: relative;
        z-index: 99999;
        color: $cor-preta;
        cursor: pointer;
    }
}

.blog-categorias {
    font-family: $fonte-primaria;
    color: $cor-escura;
    font-size: $txt-tam-16px;
    font-weight: $txt-peso-500;
    .nav-item {
        .nav-link {
            color: $cor-escura;
            span {
                font-size: 12px;
                font-weight: $txt-peso-600;
                opacity: 0.5;
            }
            &:hover {
                color: $cor-pri-top;
            }
        }
    }
}

.paginacao {
    .screen-reader-text {
        display: none;
    }
    .page-numbers {
        background: #f0f0f0;
        border-radius: 6px;
        color: $cor-pri-bot;
        font-size: $txt-tam-14px;
        padding: 10px;
        font-weight: $txt-peso-500;
        transition: $transicao1x;
        &.current {
            color: $cor-branca;
            background: $cor-pri-bot;
            font-weight: $txt-peso-600;
            &:hover {
                transform: scale(1.025);
                background: $cor-pri-top;
            }
        }
        &:hover {
            transform: scale(1.1);
            background: #dddddd;
            border-bottom: 2px solid $cor-pri-bot;
        }
    }
    &.pag-orangepaper {
        .page-numbers {
            color: $cor-sec-top;
            &.current {
                color: $cor-branca;
                background: $cor-sec-top;
                &:hover {
                    background: $cor-sec-mid;
                }
            }
            &:hover {
                background: #dddddd;
                border-bottom: 2px solid $cor-sec-top;
            }
        }
    }
    &.pag-imprensa {
        .page-numbers {
            color: $cor-ter-top;
            &.current {
                color: $cor-branca;
                background: $cor-ter-top;
                &:hover {
                    background: $cor-ter-low;
                }
            }
            &:hover {
                background: #dddddd;
                border-bottom: 2px solid $cor-ter-top;
            }
        }
    }
}

.imagem-detalhe-thumbnail {
    width: 100%;
    position: relative;
    display: block;
    img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
        height: auto;
    }
}

.gallery {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-width: 25%;
    -moz-column-width: 25%;
    column-width: 25%;
}
.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}
.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
    
@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}
    
@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

// **********************
// **********************
// DEFAULT PAGE
// **********************
// **********************

.page-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    background: $cor-branca;
}


// **********************
// **********************
// FORMULÁRIO
// **********************
// **********************

.wpcf7-form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    position: relative;
}

.wpcf7-form-control-wrap {
    width: 100%;
}

.form-enviar-carreira {
    height: auto;
}

.btn-enviar {
    cursor: pointer;
    background: $cor-sec-lit;
    border: $cor-sec-mid;
    transition: $transicao1x;
    font-weight: $txt-peso-600;
    font-size: $txt-tam-16px;
    color: $cor-branca;
    &:hover {
        transform: scale(1.025);
    }
}

.btn-enviar-parceiro {
    cursor: pointer;
    background: $cor-ter-top;
    border: $cor-ter-low;
    transition: $transicao1x;
    font-weight: $txt-peso-600;
    font-size: $txt-tam-16px;
    color: $cor-branca;
    &:hover {
        transform: scale(1.025);
    }
}

.btn-enviar-carreira {
    cursor: pointer;
    background: $cor-sec-lit;
    border: $cor-sec-mid;
    transition: $transicao1x;
    font-weight: $txt-peso-600;
    font-size: $txt-tam-16px;
    color: $cor-branca;
    &:hover {
        transform: scale(1.025);
    }
}

.input-group {
    label {
        display: block;
        width: 100%;
        font-family: $fonte-secundaria;
        margin: 0;
        span {
            font-size: $txt-tam-12px;
            opacity: 0.5;
        }
    }
}


@media (max-width: 770px) {
}

@media (max-width: 475px) {
}